@using ChroniclesOfClevermist.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="parallax">

    <div class="text-center text-xl-center">
        <h1 class="fonttitle">Welcome to </h1>
        <h1 class="fonttitle">Chronicles of Clevermist!</h1>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <button type="button" onclick="location.href='https://simmer.io/@@milkowebrat/chronicles-of-clevermist'" class="btn btn-primary btn-purple m-4" id="show">Try Free!</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-blue m-4" type="button" onclick="location.href='@Url.Action("All", "News")'" id="show2">News</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-third m-4" type="button" onclick="location.href='https://store.steampowered.com/'" id="showbutton">Buy on Steam</button>
            </div>
        </div>
    </div>
</div>
