@using ChroniclesOfClevermist.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="btn btn-purple" id="show">
                Get in touch
            </div>
        </div>
        <div class="col">
            <div class="btn btn-blue" id="show2">
                Get in touch
            </div>
        </div>
    </div>
</div>
