@using ChroniclesOfClevermist.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chronicles of Clevermist!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-purple" id="show">Get</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-blue" id="show2">Get</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Some text</h4>
        </div>
        <div class="col-md-3">
            <h4>Some text</h4>
        </div>
        <div class="col-md-6">
            <h4>Some text</h4>
        </div>
    </div>
</div>
