@model ChroniclesOfClevermist.Web.ViewModels.Surveys.AllSurveysViewModel
@{
    this.ViewData["Title"] = "Surveys";
}

<div class="row">
    @foreach (var topic in Model.Topics)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@topic</h5>
                    <a class="btn btn-primary" onclick="location.href='@Url.Action("Fill", "Surveys", new { topic = topic})'">Complete survey</a>
                </div>
            </div>
        </div>
    }
</div>