@using ChroniclesOfClevermist.Common
@model ChroniclesOfClevermist.Web.ViewModels.News.NewsInputViewModel
@{
    this.ViewData["Title"] = "News";
}


<form class="container-fluid" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label class="font-weight-bold" asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="Content">Content</label>
        <input asp-for="Content" type="text" class="form-control">
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Image" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Image" accept="image/*" class="form-control custom-file-input" id="exampleFormControlFile1">
                <label class="custom-file-label">Choose file...</label>
            </div>
        </div>
    </div>
    <button type="submit" value="Upload" class="btn btn-primary text-center">Add</button>
</form>