/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.parallax {
    background-image: url('../img/mainBG.jpg');
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: inherit;
}

.parallaxmap {
    background-image: url('../img/map.png');
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: inherit;
}



#mydiv {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 360px;
}

.btn-purple {
    width: 160px;
    color: azure;
    opacity: 0;
}

.btn-blue {
    width: 160px;
    color: azure;
    opacity: 0;
}

.btn-third {
    width: 160px;
    color: azure;
    opacity: 0;
}

.btn-purple.scrolled {
    transition: opacity 1000ms ease-in-out;
    opacity: 1;
}

.btn-blue.scrolled {
    transition: opacity 1000ms ease-in-out;
    opacity: 1;
}

.btn-third.scrolled {
    transition: opacity 1000ms ease-in-out;
    opacity: 1;
}

.myheader {
    background: #721a71;
    color: #fff;
    padding: 10px;
}

.mybody {
    background: #f5f5f5;
    padding: 10px;
}

.fonttitle {
    color: azure;
    font: bold  70px "Times New Roman", Times, serif;
}

.fontsecond {
    color: black;
    font: bold 70px "Times New Roman", Times, serif;
}

.linkmap1 {
    position: absolute;
    top: 72%;
    left: 7%;
    width: 25%;
    height: 10%;
}

.linkmap2 {
    position: absolute;
    top: 63%;
    left: 49%;
    width: 27%;
    height: 11%;
}

.linkmap3 {
    position: absolute;
    top: 54%;
    left: 17%;
    width: 27%;
    height: 10%;
}

.linkmap4 {
    position: absolute;
    top: 41%;
    left: 53%;
    width: 27%;
    height: 10%;
}

.linkmap5 {
    position: absolute;
    top: 37%;
    left: 7%;
    width: 15%;
    height: 9%;
}

.linkmap6 {
    position: absolute;
    top: 17%;
    left: 33%;
    width: 25%;
    height: 9%;
}

.linkmap7 {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 15%;
    height: 9%;
}

.linkmap8 {
    position: absolute;
    top: 6%;
    left: 40%;
    width: 28%;
    height: 9%;
}

.linkmap9 {
    position: absolute;
    top: 74%;
    left: 77%;
    width: 14%;
    height: 9%;
}

.linkmap10 {
    position: absolute;
    top: 83%;
    left: 54%;
    width: 15%;
    height: 9%;
}
