@using ChroniclesOfClevermist.Common
@{
    this.ViewData["Title"] = "About";
}
<h1 class="text-center fontsecond">About Strazosphere Studios</h1>
<table align="center" class="mt-5 table-bordered">
    <tr class="m-3">
        <td class="font-weight-bold">
            Founded
        </td>
        <td>
            2018
        </td>
    </tr>
    <tr class="m-3">
        <td class="font-weight-bold">
            Headquarters
        </td>
        <td>
            Plovdiv City, Bulgaria
        </td>
    </tr>
    <tr class="m-3">
        <td class="font-weight-bold">
            Background
        </td>
        <td>
            Strazosphere Studios is bulgarian startup company. We started with
            simple game projects and now we are releasing our first title.
        </td>
    </tr>
    <tr class="m-3">
        <td class="font-weight-bold">
            What we do
        </td>
        <td>
            Our primary work is to develop PC games on Unity game engine.
            Our first big project is called Chronicles of Clevermist.
            Be sure there is a lot more to come!
        </td>
    </tr>
    <tr class="m-3">
        <td class="font-weight-bold">
            Address
        </td>
        <td>
            Strazosphere Studios, Inc.
            29 Prosveta Street,
            Plovdiv, Bulgaria
        </td>
    </tr>
</table>
