@{
    this.ViewData["Title"] = "SiteMap";
}

<img src="~/img/map.v1.png" class="img-fluid" usemap="#image-map">
<a class="linkmap1" href="https://localhost:44319/Surveys/All"></a>
<a class="linkmap2" href="https://localhost:44319/Contacts/Demo"></a>
<a class="linkmap3" href="https://localhost:44319/News/All"></a>
<a class="linkmap4" href="https://localhost:44319/"></a>
<a class="linkmap5" href="https://localhost:44319/QuestionsAndAnswers/All"></a>
<a class="linkmap6" href="https://localhost:44319/Contacts/About"></a>
<a class="linkmap7" href="https://localhost:44319/Contacts/History"></a>
<a class="linkmap8" href="https://store.steampowered.com/"></a>
<a class="linkmap9" href="https://localhost:44319/Identity/Account/Login"></a>
<a class="linkmap10" href="https://localhost:44319/Identity/Account/Register"></a>

<area target="" alt="Register" title="Register" href="https://localhost:44319/Identity/Account/Register" coords="1041,1240,1331,1361" shape="rect">
