@model ChroniclesOfClevermist.Web.ViewModels.QuestionsAndAnswers.AllAnswersViewModel
@using ChroniclesOfClevermist.Common
@{
    this.ViewData["Title"] = "Answers";
}

<div>
    <p>@Model.QuestionText</p>
</div>

@foreach (var answer in Model.Answers)
{
    <p>@answer.Text</p>
    <p>@answer.CreatedOn</p>
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a class="btn btn-danger" onclick="location.href='@Url.Action("AddAnswer", "QuestionsAndAnswers", new { Id = Model.QuestionId })'">Add answer</a>
}